body{
    background-image: url("images/8k_stars_milky_way.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional: Keeps the background fixed when scrolling */
    background-position: center center;
}
/* Reset some default styles for the body and header */
body, h1 {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

/* Style for the header */
header {
    background-color: #00000000;
    color: white;
    text-align: center;
    padding: 20px 0;
    border: 2px solid whitesmoke;
}

/* Style for the main content section */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.big-text{
    font-size: larger;
    font-weight: bold;
}


/* Style for the text description */
.about-text {
    text-align: center;
    margin-top: 20px;
}
img{
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.478), 0 0 10px 10px rgba(255, 255, 255, 0.19);
    animation: rotate 7s linear infinite; /* Rotate continuously */
}
@keyframes rotate {
    0% {
        transform: rotate(0deg); /* Start with no rotation */
    }
    100% {
        transform: rotate(360deg); /* Rotate 360 degrees (one full circle) */
    }
}
p{
    padding: 10px 20px;
    border: 2px solid whitesmoke;
    overflow: hidden;
}

/* Media query for responsiveness */
@media (min-width: 768px) {
    .about {
        flex-direction: row;
        justify-content: space-between;
    }

    .about-image {
        max-width: 40%;
    }

    .about-text {
        max-width: 50%;
    }
}
